* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: #331B3B !important;
}

.bg-primary {
    background-color: #331B3B !important;
}

.text-Playfair-Display {
    font-family: 'Playfair Display', serif;
}

.pt-100 {
    padding: 100px 0;
}

.py-50 {
    padding-top: 50px;
}

.text-hind-vadodara {
    font-family: 'Hind Vadodara' !important;
}


a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/* -------------------header start -----------------------------*/
/*-----------------------------------menu-css-----------------------*/

.header .menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1%;
    color: #331B3B;
    text-transform: capitalize;
    position: relative;
}

.header .menu .home {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1%;
    text-transform: capitalize;
    position: relative;
    color: #331B3B;
}

.menu .home::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 20px;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: #fdc221;
}

/*-------------------------------------logo-css----------------------------------*/

.heading {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
}

/*---------------------------------------icons-css-------------------------------*/

.social-icons {
    gap: 1px;
    position: relative;
}

.social-icons .header-icons {
    font-size: 20px;
    position: relative;
}

.social-icons .fb {
    transform: translateX(-300%);
}

.social-icons .ld {
    transform: translateX(-210%);
}

.social-icons .ig {
    transform: translateX(-220%);
}

.header-icons {
    font-size: 18px;
}

.border-icon {
    margin-left: 5px;
    margin-right: 5px;
}

/*--------------------------media-query-of-header----------------------------------------*/


/*-----------------------------------------slider-section-----------------------------------------------*/

/*--------------------------------content-side-css----------------------------------------------*/
.slider-content .help {
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: -1%;
    margin: 10px;
}

.slider-content .business {
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: -1%;
    position: relative;
    margin: 10px;
}

.slider .slider-content .business::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 135px;
    left: 0;
    width: 100%;
    height: 14px;
    background-color: #fdc221;
}

.slider-info {
    font-weight: 400;
    font-size: 12px;
    line-height: 146%;
    letter-spacing: 2%;
    margin: 10px;
}

.slider-btn {
    width: 207px;
    height: 66px;
    border-radius: 10px;
    background-color: #331B3B;
    color: #fff;
    border: 0;
    padding: 10px;
    font-weight: 600;
    margin: 10px;
    font-size: 17px;
    line-height: 137%;
    letter-spacing: 2%;
    text-transform: uppercase;
}

/*------------------------------------slider-img-css----------------------------------------*/

.slider-image .slider-photo {
    max-width: 500px;
}

.slider-bg {
    position: absolute;
    top: -180px;
    left: 60%;
    width: 400px;
    z-index: -999;
    height: 710px;
    overflow: hidden;
}

/*----------------------------------media query of slider section-------------------------------*/

/* Responsive Media Queries */

@media (max-width: 1200px) {

    .slider-content .help,
    .slider-content .business {
        font-size: 55px;
    }

    .slider .slider-content .business::after {
        width: 100%;
        height: 8px;
        left: -5px;
        top: 110px;
    }

    .slider-btn {
        width: 180px;
        height: 60px;
        font-size: 15px;
    }

    .slider-image .slider-photo {
        max-width: 500px;
    }

    .slider-bg {
        top: -150px;
        left: 65%;
        height: 650px;
        width: 350px;
    }
}

@media (max-width: 992px) {
    .slider .slider-content {
        text-align: center;
    }

    .slider-content .help,
    .slider-content .business {
        font-size: 45px;
    }

    .slider .slider-content .business::after {
        width: 85%;
        height: 8px;
        left: 30px;
        top: 90px;
    }

    .slider-info {
        font-size: 10px;
    }

    .slider-btn {
        width: 160px;
        height: 50px;
        font-size: 14px;
    }

    .slick-image {
        display: flex;
    }

    .slider-image .slider-photo {
        max-width: 500px;
    }

    .slider-bg {
        top: -150px;
        left: 58%;
        width: 400px;
        height: 550px;
    }
}

@media (max-width: 768px) {
    .slider {
        flex-direction: column;
        text-align: center;
    }

    .slider-content .help,
    .slider-content .business {
        font-size: 35px;
    }

    .slider .slider-content .business::after {
        top: 70px;
        width: 40%;
        height: 5px;
        left: 208px;
        top: 36px;
    }

    .slider-info {
        font-size: 12px;
    }

    .slider-btn {
        width: 140px;
        height: 45px;
        font-size: 13px;
    }

    .slider-image .slider-photo {
        max-width: 300px;
    }

    .slider-bg {
        display: none;
    }
}

@media (max-width: 576px) {

    .slider-content .help,
    .slider-content .business {
        font-size: 30px;
    }

    .slider .slider-content .business::after {
        top: 60px;
        width: 40%;
        height: 5px;
        left: 180px;
        top: 30px;
    }

    .slider-info {
        font-size: 10px;
    }

    .slider-btn {
        width: 120px;
        height: 40px;
        font-size: 12px;
    }

    .slider-image .slider-photo {
        max-width: 250px;
    }
}

@media (max-width: 400px) {

    .slider-content .help,
    .slider-content .business {
        font-size: 25px;
    }

    .slider .slider-content .business::after {
        width: 40%;
        height: 5px;
        left: 150px;
        top: 25px;
    }

    .slider-info {
        font-size: 9px;
    }

    .slider-btn {
        width: 110px;
        height: 35px;
        font-size: 11px;
    }

    .slider-image .slider-photo {
        max-width: 200px;
    }
}


/*----------------------------------------service-section-------------------------------------------------*/

/*------------------------------background-of-service------------------------*/
.service {
    background-image: url('../img/service.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    transform: translateX(-4%);
    padding: 50px;
}

.service-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 106%;
    letter-spacing: -1%;
    text-align: center;
}

.we-do {
    font-weight: 300;
    font-size: 48px;
    line-height: 106%;
    letter-spacing: -1%;
    text-align: center;
    position: relative;
}

.we-do::after {
    content: "";
    position: absolute;
    bottom: 7px;
    right: 0;
    width: 47%;
    height: 10px;
    z-index: -999;
    background-color: #fdc221;
}

/*-------------------------------------service-cards----------------------------------*/
.service-image {
    background-color: #FFDED4;
    padding: 5px;
    width: 35px;
    border-radius: 10px;
}

.service-name {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
}

.service-description {
    font-weight: 300;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 2%;
}

.service-box {
    width: 280px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    transition: transform 0.3s ease;
}

.service-box:hover {
    transform: translateY(-10px);
}

.slick-slider {
    display: flex;
    position: relative;
}

.slick-slide {
    padding: 0 15px;
}

/*----------------------------add media query for responsive design-------------------------*/

@media (max-width:992px) {
    .service {
        padding: 25px;
    }

    .service-title {
        font-size: 30px;
    }

    .we-do {
        font-size: 25px;
    }

    .we-do::after {
        content: '';
        width: 90px;
        top: 25px;
        height: 5px;
    }

    .prev-btn {
        top: 95%;
    }

    .next-btn {
        top: 95%;
    }
}

@media (max-width:768px) {
    .service {
        padding: 25px;
    }

    .service-title {
        font-size: 30px;
    }

    .we-do {
        font-size: 25px;
    }

    .we-do::after {
        content: '';
        width: 90px;
        top: 25px;
        height: 5px;
    }

    .prev-btn {
        top: 95% !important;
        left: 45% !important;
    }

    .next-btn {
        top: 95% !important;
        left: 52% !important;
    }
}

@media (max-width:578px) {
    .service {
        padding: 25px;
    }

    .service-title {
        font-size: 30px;
    }

    .we-do {
        font-size: 25px;
    }

    .we-do::after {
        content: '';
        width: 90px;
        top: 25px;
        height: 5px;
    }

    .prev-btn {
        top: 95% !important;
        left: 42% !important;
    }

    .next-btn {
        top: 95% !important;
        left: 52% !important;
    }

}

/*------------------------------------------about-us-section---------------------------------------------------*/
/*--------------------------------------text-side---------------------------------------*/

.slider-text .about-us {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -1%;
}

.slider-text .fake-or-real {
    font-weight: 300;
    font-size: 48px;
    letter-spacing: -1%;
}

.side-slider-info {
    font-weight: 400;
    font-size: 12px;
    line-height: 146%;
    letter-spacing: 2%;
}

.slider-text .fake-or-real {
    position: relative;
}

.slider-text .fake-or-real::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 50px;
    right: 0;
    width: 30%;
    height: 4px;
    background-color: #fdc221;
}

.explore-more {
    color: #fff;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
    width: 207;
    height: 66;
    top: 2032px;
    left: 824px;
    border-radius: 10px;
}
@media (max-width:992px) {
    .slider-text .fake-or-real{
        font-size: 40px;
        
    }
    .slider-text{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .side-slider-info{
        font-size: 12px;
        text-align: center;
    }
    
}

/*--------------------------------------------projects-section------------------ -----------------*/
/*-------------------------------image-setup-css----------------------------------*/
.project-img {
    position: relative;
}

/*-------------------------------main-heading-content-css----------------------------------*/

.pr-content {
    position: absolute;
    padding-top: 30px;
}

.recent-work .work {
    position: relative;
}

.recent-work .work::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 42px;
    left: 50%;
    width: 50%;
    height: 4px;
    background-color: #fdc221;
}

.project-heading {
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
}

/*------------------------------------pr-cards--------------------------------------------*/
.pr-main {
    position: absolute;
    margin-top: 200px;
}

.pr-main .pr-card {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-card .pr-name {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-card .view-work {
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #331B3B;
    border-radius: 50px;
}

@media (max-width:992px) {
    .project-img{
        display: flex;
    }
    .pr-content{
        width: 100%;
    }
  .work-details{
    width: 100%;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content:flex-end;
  }
  .prev{
    left:13% !important;
  }
  .next{
    left: 17% !important;
  }

}

@media (max-width:768px) {
    .project-img{
        display: none;
    }
    .pr-content{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        padding: 50px;
    }
  .work-details{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
  }
  .prev{
    left: 10% !important;
  }
  .next{
    left: 17% !important;
  }
    
}

@media (max-width:576px) {
    .project-img{
        display: none;
    }
    .pr-content{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        padding: 50px;
    }
  .work-details{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
  }
  .prev{
    left: 10% !important;
  }
  .next{
    left: 17% !important;
  }
}



/*------------------------------------testimonial-section-------------------------------------*/
.testimonial {
    padding-top: 100px;
}

.testimonial .our-testimonial {
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -1%;
    text-align: center;
    color: #331B3B;
}

.testimonial .client-saying {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: #331B3B;
    position: relative;
}

.testimonial .client-saying::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 95px;
    right: 0;
    width: 110px;
    height: 4px;
    background-color: #fdc221;
}

.testimonial .container {
    max-width: 1200px;
    margin: auto;
}

.testimonial .d-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.client-review {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.client-review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review-content {
    font-size: 16px;
    color: #555;
}

.ui-soup {
    font-weight: bold;
    color: #331B3B;
}
/*----------------------------testimonial-card----------------------=---------------*/

.client-review {
    margin-top: 50px;
    border-radius: 10px;
    width: 450px;
    padding: 30px;
    box-shadow: rgba(160, 152, 152, 0.2) 0px 18px 50px -10px;
}

.testimonial .client-review .review-content {
    color: #331B3B;
}

.client-review .ui-soup {
    font-weight: 700;
    font-size: 20px;
    position: relative;
    color: #331B3B;
}

.client-review .ui-soup::after {
    content: '';
    position: absolute;
    width: 7px;
    top: 15px;
    left: -10px;
    border: 2px solid #fdc221;
}


/* Responsive Design */
@media (max-width: 768px) {
    .testimonial{
        padding-top:500px ;
    }
    .testimonial .d-flex {
        flex-direction: column;
        align-items: center;
    }
    .client-review {
        width: 90%;
    }
    .testimonial .our-testimonial {
        font-size: 32px;
    }
    .testimonial .client-saying {
        font-size: 28px;
    }
}


/*-----------------------------------------footer-section--------------------------------------*/
.footer {
    margin-top: 200px;
    padding-top: 90px;
    background-color: black;
}

.footer-content {
    line-height: 2;
    color: #fff;

}

.footer-content .footer-heading {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 1%;
}

.footer-content .footer-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 159%;
    letter-spacing: 2%;

}

.footer .get-in-touch {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 159%;
    letter-spacing: 2%;
    text-transform: uppercase;

}

.footer .email {
    margin-top: 10px;
    padding: 2px;
    border: 1px solid #fff;
    background-color: #0000;
    position: relative;
}

.footer .email::placeholder {
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
}

.footer .f-send-btn {
    background-color: #fff;
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1px 40px;
    transform: translateY(25%);
    position: absolute;
    width: 143;
    height: 52;
}

.footer-map .map-content {
    background-color: aliceblue;
    width: 200px;
    align-items: center;
    padding: 10px;
    transform: translateY(-260%);
    margin: 20px;
    height: auto;
}

.map-content .texas {
    font-weight: 600;
    font-size: 20px;
}

.map-content .US {
    font-size: 16px;
    font-weight: 500;
}

.map-content .view-large {
    font-size: 15px;
    letter-spacing: 1px;
}



/*-----------------------------------arrows--------------------------------------*/

/* -----------------------what we do for your business-----------------------*/
.prev-btn {
    position: absolute;
    bottom: -20%;
    left: 45%;
    width: 30px;
    height: 30px;
    border: 1px solid #331B3B;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    color: #331B3B;
}

.next-btn {
    position: absolute;
    bottom: -20%;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #331B3B;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    color: #331B3B;
}

/*------------------------------------our recent work By our experts---------------------------------------*/

.prev {
    position: absolute;
    bottom: -20%;
    left: 6%;
    width: 30px;
    height: 30px;
    border: 1px solid #331B3B;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    color: #331B3B;
}

.next {
    position: absolute;
    bottom: -20%;
    left: 10%;
    width: 30px;
    height: 30px;
    border: 1px solid #331B3B;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    color: #331B3B;
}