@font-face {
    font-family: 'Hind Vadodara';
    src: url('HindVadodara-Light.woff2') format('woff2'),
        url('HindVadodara-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('HindVadodara-Medium.woff2') format('woff2'),
        url('HindVadodara-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('HindVadodara-SemiBold.woff2') format('woff2'),
        url('HindVadodara-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('HindVadodara-Bold.woff2') format('woff2'),
        url('HindVadodara-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('HindVadodara-Regular.woff2') format('woff2'),
        url('HindVadodara-Regular.woff') format('woff');
    font-weight: normal;
    font-style: dhruv;
    font-display: swap;
}

