* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: #331B3B !important;
}

.bg-primary {
    background-color: #331B3B !important;
}

.text-Playfair-Display {
    font-family: 'Playfair Display', serif;
}

.pt-100 {
    padding: 100px 0;
}

.py-50 {
    padding-top: 50px;
}

.text-hind-vadodara {
    font-family: 'Hind Vadodara' !important;
}


a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/* -------------------header start -----------------------------*/
/*-----------------------------------menu-css-----------------------*/

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.menu-toggle {
    display: block;
    font-size: 24px;
    flex-direction: row;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #331B3B;
    position: absolute;
    z-index: 1001;
}

.menu, .social-icons {
    transition: all 0.3s ease-in-out;
}

.header .menu {
    font-weight: 400;
    font-size: 16px;
    color: #331B3B;
    text-transform: capitalize;
    position: relative;
}

.header .menu .home {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    color: #331B3B;
}

.menu .home::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 20px;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: #fdc221;
}

/*-------------------------------------logo-css----------------------------------*/

.heading {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;

}

/*---------------------------------------icons-css-------------------------------*/

.social-icons {
    gap: 1px;
    position: relative;
}

.social-icons .header-icons {
    font-size: 20px;
    position: relative;
}

.social-icons .fb {
    transform: translateX(-300%);
}

.social-icons .ld {
    transform: translateX(-210%);
}

.social-icons .ig {
    transform: translateX(-220%);
}

.header-icons {
    font-size: 18px;
}

.border-icon {
    margin-left: 5px;
    margin-right: 5px;
}







/*-----------------------------------------slider-section-----------------------------------------------*/

/*--------------------------------content-side-css----------------------------------------------*/
.slider-content .help {
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
}

.slider-content .business {
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    position: relative;
}

.slider .slider-content .business::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 135px;
    left: 0;
    width: 100%;
    height: 14px;
    background-color: #fdc221;
}

.slider-info {
    font-weight: 400;
    font-size: 17px;
    line-height: 146%;
    color: #331B3BA8;

}

.slider-btn {
    top: 634px;
    left: 50px;
    border-radius: 10px;
    width: 207px;
    height: 66px;
    background-color: #331B3B;
    color: #fff;
    border: 0;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    line-height: 137%;
    text-transform: uppercase;
    top: 0;
}

.slider-content {
    font-weight: 700;
    font-size: 87px;
    line-height: 100%;

}

/*------------------------------------slider-img-css----------------------------------------*/

.slider-image .slider-photo {
    width: 731px;

}

.slider-bg {
    position: absolute;
    top: -180px;
    left: 60%;
    z-index: -999;
    overflow: hidden;
    width: 634px;
    height: 819px;
}




/*----------------------------------------service-section-------------------------------------------------*/

/*------------------------------background-of-service------------------------*/
.service {
    margin: 150px 0;
    position: relative;

}

.service-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 550px;
    background-size: cover;
    background-position: center;

}

.service-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 106%;
    text-align: center;
    padding-top: 50px;
    position: relative;
}

.we-do {
    font-weight: 300;
    font-size: 48px;
    line-height: 106%;
    text-align: center;
    position: relative;

}

.we-do::after {
    content: "";
    position: absolute;
    bottom: 8px;
    right: -1%;
    width: 50%;
    height: 7px;
    z-index: -9999;
    background-color: #fdc221;
}

/*-------------------------------------service-cards----------------------------------*/
.service-image {
    padding: 5px;
    border-radius: 10px;
    width: 42px;
    height: 42px;
}


.service-name {
    font-size: 16px;
    line-height: 137%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.service-description {
    font-weight: 300;
    font-size: 15px;
    line-height: 145%;
    color: #331B3BA8;
}

.service-box {
    width: 308px;
    height: 192px;
    top: 1137px;
    left: 614px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    transition: transform 0.3s ease;
}

.service-box:hover {
    transform: translateY(-10px);
}

.slick-slider {
    display: flex;
    position: relative;
}

.slick-slide {
    padding: 0 15px;
}

.service-website-design .service-image {
    background-color: #FFDED4;
}

.service-web-development .service-image {
    background-color: #FFEED4;
}

.service-mobile-design .service-image {
    background-color: #D4F0FF;
}

/*------------------------------------------about-us-section---------------------------------------------------*/
/*--------------------------------------text-side---------------------------------------*/

.slider-text .about-us {
    font-weight: 700;
    font-size: 48px;
    line-height: 106%;

}

.slider-text .fake-or-real {
    font-weight: 300;
    font-size: 48px;
    line-height: 106%;

}

.side-slider-info {
    font-weight: 400;
    font-size: 17px;
    line-height: 146%;
    color: #331B3BA8;

}

.slider-text .fake-or-real {
    position: relative;
}

.side-sec-img {
    width: 988px;
    height: 1007px;
}

.slider-text .fake-or-real::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 50px;
    right: 0;
    width: 30%;
    height: 4px;
    background-color: #fdc221;
}

.explore-more {
    margin-top: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 137%;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    padding: 15px;
    width: 207px;
    height: 66px;
    top: 2032px;
    left: 824px;
    border-radius: 10px;
}

/*--------------------------------------------projects-section------------------ -----------------*/
.projects {
    padding: 100px 0;
    width: 100%;
    height: 670px;
    position: relative;
}

.pr-bg-img {
    position: absolute;
    width: 90%;
    transform: translateX(11%);
    height: 700px;
}

/*-------------------------------main-heading-content-css----------------------------------*/

.pr-content {
    position: absolute;
    margin-top: 20px;
}

.recent-work {
    font-weight: 700;
    font-size: 48px;
    line-height: 106%;
    transform: translateX(5%);
    text-transform: capitalize;

}

.recent-work .work {
    position: relative;
    font-weight: 300;
    font-size: 48px;
    line-height: 106%;

}

.work-details {
    font-weight: 400;
    font-size: 17px;
    line-height: 146%;

}

.recent-work .work::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 50px;
    left: 50%;
    width: 50%;
    height: 7px;
    background-color: #fdc221;
}

/*------------------------------------pr-cards--------------------------------------------*/
.pr-main {
    position: absolute;
    margin-top: 200px;
}

.main-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 450px;
    height: 365px;

}

.main-card .pr-name {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    transform: translateX(20%);
}

.pr-big-img {
    height: 238px;
}

.pr-sm-img {
    height: 238px;
}

.main-card .view-work {
    width: 92px;
    height: 23px;
    font-weight: 500;
    font-size: 14px;
    line-height: 146%;
    border: 1px solid #331B3B;
    border-radius: 100px;
    transform: translateY(40%);
    text-align: center;
}


/*------------------------------------testimonial-section-------------------------------------*/
.testimonial {
    padding-top: 200px;
}

.testimonial .our-testimonial {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #331B3B;
}

.testimonial .client-saying {
    font-weight: 300;
    font-size: 48px;
    line-height: 111.00000000000001%;
    text-align: center;
    position: relative;
}

.testimonial .client-saying::after {
    content: '';
    position: absolute;
    z-index: -999;
    top: 110px;
    right: 0;
    width: 130px;
    height: 8px;
    background-color: #fdc221;
}

.testimonial .container {
    max-width: 1200px;
    margin: auto;
}

.testimonial .d-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.client-review {
    width: 448px;
    color: #331B3BA8;
    height: 310px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.client-review img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    width: 64px;
    height: 64px;
}

.review-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 159%;

}

.ui-soup {
    font-weight: 600;
    font-size: 18px;
    line-height: 159%;
    color: #331B3B;
    position: relative;

}


.client-review .ui-soup::after {
    content: '';
    position: absolute;
    width: 7px;
    top: 10px;
    left: -10px;
    border: 2px solid #fdc221;
}


/* -----------Responsive Design---- */
@media (max-width: 768px) {
    .testimonial {
        padding-top: 180px;
    }

    .testimonial .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .client-review {
        width: 100%;
    }

    .testimonial .our-testimonial {
        font-size: 32px;
    }

    .testimonial .client-saying {
        font-size: 28px;
    }
}

@media (max-width:576px) {
    .testimonial {
        padding-top: 300px;
    }

}


/*-----------------------------------------footer-section--------------------------------------*/
.footer {
    margin-top: 200px;
    padding-top: 90px;
    background-color: black;
    border-top-right-radius: 158px
}

.footer-content {
    line-height: 2;
    color: #fff;
    padding-left: 80px;

}

.footer-content .footer-heading {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #fff;
}

.footer-content .footer-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 159%;

}

.footer .get-in-touch {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 159%;
    text-transform: uppercase;


}

.footer .email {
    margin-top: 10px;
    padding: 2px;
    border: 1px solid #fff;
    background-color: #0000;
    position: relative;
}

.footer .email::placeholder {
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
}

.footer .f-send-btn {
    background-color: #fff;
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1px 40px;
    transform: translateY(25%);
    position: absolute;
    width: 143px;
    height: 52px;
}

.footer-map .map-content {
    background-color: aliceblue;
    width: 197px;
    height: 84px;
    align-items: center;
    padding: 10px;
    transform: translateY(-300%);
    margin: 20px;
    height: auto;
}

.ft-img {
    width: 594px;
    height: 300px;
    top: 3717px;
    left: 764px;

}

.map-content .texas {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
}

.US {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

.map-content .view-large {
    font-weight: 400;
    font-size: 14px;
    line-height: 159%;

}

@media (max-width: 768px) {
    .ft-img {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .ft-img {
        width: 100%;
    }
}

/*-----------------------------------arrows--------------------------------------*/

.prev-btn {
    position: absolute;
    left: 290px;
    top: 110%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    color: #000;
}

.next-btn {
    position: absolute;
    left: 350px;
    top: 110%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    color: #000;
}

/* -----------------------what we do for your business-----------------------*/

.prev {
    position: absolute;
    right: 58%;
    bottom: -30%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    color: #000;
}

.next {
    position: absolute;
    right: 54%;
    bottom: -30%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    color: #000;
}

/*Animation */

.animate {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

.animation {
    opacity: 0;
    transform: translateY(-120px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animation.show {
    opacity: 1;
    transform: translateX(0);
}